body {
    background-image: url("../../assets/start.jsx.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 90vh;
}
.logo{
    height: 20vh;
    width: 80%;
    margin: 100px 0 0 20px;
}
.city{
    display: block;
    height: 50vh;
    width:100%;
}
.start{
    height: 50vh;
    width: 50vh;
}