/* body {
    background-image: url("../../assets/starthaikei.png");
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 20% 20%;
    background-attachment: fixed;
     background-clip: padding-box;
     position: relative;
} */

.start_page_context{
    width: 100%;
    overflow: hidden;
}

.start_page_logo{
    height: 20vh;
    width: 80%;
    margin: 80px 0 90px 110px;
}
.toguro {
  height: 300px;
  width: 370px;
  margin-bottom: 1vh;
  text-align: center;
  /* position: absolute; */
  /* left: 60px; */
  /* bottom: 15px; */
}

.start_page_homeless {
  height: 300px;
  width: 370px;
}

.start_page_start_button {
  margin-top: 10vh;
}

.start_page_explain_button {
  text-align: center;
}

/* .George {
  height: 15vh;
  width: 15vh;
  position: absolute;
  top: 270px;
  right: 140px;
} */

.start_page_under{
  display: flex;
  margin: 0 0 15vh 15vh;
  /* text-align: center; */
}
