.explaintext{
    color: white;
    background: black;
    margin: 30px;
    padding: 10px;
    font-size: 35px;
}
.normal{
    height: 20vh;
    width: 15vh;
}
.bomkan{
    height: 20vh;
    width: 15vh;
}
.lithium{
    height: 20vh;
    width: 15vh;
}
.benikoji{
    height: 20vh;
    width: 15vh;
}