.hover-image-container {
  position: relative;
  display: inline-block;
}

.speech-bubble {
  position: relative;
  top: -100%;
  /* left: 50%; */
  transform: translateX(+50%);
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.speech-bubble::after {
  content: '';
  position: relative;
  bottom: -0.5rem;
  /* left: 50%; */
  transform: translateX(+50%);
  border-width: 0.5rem;
  border-style: solid;
  border-color: white transparent transparent transparent;
}

.speech-bubble.show {
  opacity: 1;
  visibility: visible;
}