/* googlefont  */
@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jockey+One&family=RocknRoll+One&display=swap");

:root {
  /* background-color: rgba(241, 204, 1, 1); */
  --font-japanese: "RocknRoll One", sans-serif;
  --font-english: "Jockey One", sans-serif;
  background-image: url("../src/assets/starthaikei.png");
  background-size: cover;
  /* background-repeat: no-repeat; */
  background-position: 18% 20%;
}

html{
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 992px) {
  :root {
  }
}
